:root, :host, .spxThemeOverride, .max-width-container, #root {
	
	--color_11: 255, 255, 255;
	--color_15: 0, 0, 0;
	--color_17: 131, 183, 230;
	--color_20: 0, 48, 91;

	--font_2: normal normal normal 42px / 1.4em raleway, sans-serif;
	--font_5: normal normal normal 30px / 1.4em raleway, sans-serif;
}
body{font-family: arial;}
#fragebogen {max-width: 900px;margin: auto;background: white;padding: 15px}

#fb_title {font: var(--font_2);  color: rgb(var(--color_20));display: none;}
.question_title,#end_title,#end_description{
	font: var(--font_5);  
	color: rgb(var(--color_20));
	margin: 15px 0;
}
#nav_qa_wrap{padding: 0;
  display: flex;
  list-style: none;
	border: 1px solid #00000054;
  border-radius: 10px;
  height: 5px;
}
#nav_qa_wrap.end{
	background: #83b7e6;
	border-color: #00000054;
	height: 7px;
}

#nav_qa_wrap li{
	margin: -1px -2px;
  	width: 100%;
	text-align: center;
	height: auto;
	display: flex;
	z-index: 1;
	
	position: relative;
}

#nav_qa_wrap.end li{
	margin: 0px -2px;
	
}
#nav_qa_wrap li.active:first-child .nav_bg,
#nav_qa_wrap li:first-child{  border-radius: 10px 0 0 10px;border-left-width: 1px;}

#nav_qa_wrap li.active:last-child .nav_bg,
#nav_qa_wrap li:last-child{  border-radius: 0 10px 10px 0;border-right-width: 1px;}
#nav_qa_wrap li span.nav_circle{
	display: none;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  right: 0;
  z-index: 10;
  background: #83b7e6;
  position: absolute;
  top: -4px;
  left: 0;
  margin: auto;
  border: 1;
  border: solid 1px #00000054; }

/*#nav_qa_wrap li.active{border-left: 1px solid;}
#nav_qa_wrap li.active:first-child{border-left: none;}*/
#nav_qa_wrap li.active .nav_bg{position: absolute; top:-1px; bottom: -1px;left: 0;right: 0;}
#nav_qa_wrap li.active .nav_bg,
#nav_qa_wrap li.current span.nav_circle{
	border: solid 1px #00000054;
  background: #83b7e6;
  cursor: pointer;
  border-left: 0;
  border-right: 0;
}

#nav_qa_wrap li.current span.nav_circle{
	width: 16px;
  height: 16px;
top: -5px;
}
#nav_qa_wrap li.current .nav_bg{right: 50%;}

#nav_qa_wrap.end li.active .nav_bg{ top:0px; bottom: 0px;border: none;}

#nav_qa_wrap li.deactive{
	visibility: hidden;
}
#nav_qa_wrap li.nav_qa_end span.nav_circle{
	display: none;
}
#nav_qa_wrap li.nav_qa_end.current span.nav_bg{right: 0;}
#nav_qa_wrap li.nav_qa_end.current span.nav_circle{
	/*display: block;
	left: auto;*/
}

#question_wrap{
	text-align: left;  
	padding: 0;
}

#question_wrap .question_item{display: none;}
#question_wrap .question_item.show{display: block;}

#question_wrap .question_item ul {padding: 0;
  max-height: 50vh;
  overflow: auto;}

#question_wrap .question_item li{
	list-style: none;
	margin: 5px 5px 15px;
	font-size: 16px;
	color: rgb(var(--color_20));
	border-radius: 10px;
	box-shadow: 0px 0px 3px 2px #00000026;
}

#question_wrap .question_item li.current,
#question_wrap .question_item li:hover {background-color: rgba(var(--color_17));color: rgba(var(--color_11));}
#question_wrap .question_item li label{width: calc(100% - 22px);cursor: pointer;display: block;padding: 11px;}
#question_next {  transition: opacity 0.3s;}
#question_next[style*="none"] {
  opacity: 0;
}
#end_wrap{max-width: 500px;margin: auto;padding: 20px 0;}
#end_input_wrap{margin:60px 0;}
#end_input_wrap label.email_label,
#end_input_wrap label.name_label,
#end_input_wrap label.tel_label{margin: 20px 0; display: grid;grid-template-columns: 60px auto;grid-gap: 10px 20px;max-width: calc(100% - 10px)}
#end_input_wrap label.name_label{grid-template-columns: 60px auto auto}
#end_input_wrap label input{height: 30px;
  border-radius: 9px;
  padding: 1px 5px;
  border: 0px solid;
  box-shadow: 0px 0px 3px 2px #00000026;}
#end_input_wrap label span{margin: auto 0;  text-align: left;}
#sendemail,#question_next {
	background-color:  rgba(var(--color_17));
	border: none;
	cursor: pointer;
	color: white;
	font-size: 20px;
	margin: 0;
	padding: 10px 40px;
	border-radius: 10px;
	float: right;
}

@media screen and (max-width: 535px) {
#end_input_wrap label.email_label, 
#end_input_wrap label.tel_label {
 
  grid-template-columns: 40px auto;

}
#end_input_wrap label.name_label {
  grid-template-columns: 40px auto;
}
#end_input_wrap label.name_label #nachname {
  grid-column-start: 2;
}
}
@media screen and (max-width: 413px) {

.question_title,#end_title,#end_description{font-size: 1.1em;}
#question_wrap .question_item li{font-size: .9em;}
}
